<!DOCTYPE html>
<html>
<head>
  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/static/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/static/style.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>{% block title %}Finance{% endblock %}</title>
</head>
<body>
  <div id="content" class="container-fluid">
    {% block content %}{% endblock %}
  </div>
  {% block js %}{% endblock %}
</body>
</script>